{% extends 'index.html' %}
{% load i18n %}

{% block title %}

    <!-- header text with icon -->
    <span>
        <span class="glyphicons glyphicons-group" aria-hidden="true"></span>
        Clients
    </span>
    <!-- right-aligned header panel for button, form... -->
    <form action="{% url 'visitors:client_list' %}" method="GET" class="form-inline pull-right">
        <div class="form-group form-group-lg has-feedback">
            <label class="sr-only" for="search">Search</label>
            <input type="text" class="form-control" name="q" id="search" placeholder="Search">
            <span class="glyphicons glyphicons-group form-control-feedback" style="font-size:24px"></span>
        </div>
        <button type="submit" class="btn btn-lg btn-success">
            <span class="glyphicons glyphicons-search" aria-hidden="true"></span>Search</button>
    </form>

{% endblock title %}


{% block content %}
    <!-- check search results > 0 -->
    {% if clients %}
        <div class="row">
            <!-- object count logic will go here -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Patient' %}</th>
                    <th>{% trans 'Street address' %}</th>
                    <th>{% trans 'Mobile' %}</th>
                </tr>
                </thead>
                <tbody>

                <!-- loop over objects to create new rows -->
                {% for client in clients %}
                    <tr>
                        <td>{{ client.first_name }} {{ client.last_name }}</td>
                        <td>{% for patient in client.patients.all %}
                            <div>
                                <span class="glyphicons glyphicons-{{ patient.css_gender_class }}" aria-hidden="true" style="font-size:20px"></span>
                                <span class="glyphicons glyphicons-{{ patient.css_species_class }}" aria-hidden="true" style="font-size:20px"></span>
                                {{ patient.name }}
                            </div>
                        {% endfor patient %}</td>
                        <td>{{ client.street_address }}</td>
                        <td>{{ client.mobile }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    {% else %}
        <div class="page-header">
            <h2>No clients found</h2>
        </div>
    {% endif %}

    {% include 'snippets/pagination.html' %}

{% endblock content %}