{% extends 'list.html' %}
{% load i18n %}

{% block list_table %}

    <!-- ========================================= ---->
    <!-- ======= start table rows for list ======= ---->
    <!-- ========================================= ---->

    {% for row in clients %}
        <tr>
            <td data-title="{{ column_list.0 }}">
                {{ row.first_name }} {{ row.last_name }}
            </td>
            <td data-title="{{ column_list.1 }}">
                {% for patient in row.patients.all %}
                    <div>
                        <span class="glyphicons glyphicons-md
                        glyphicons-{{ patient.css_species_class }}" aria-hidden="true">
                        </span>
                        <strong>{{ patient.name }}</strong>
                    </div>
                {% endfor patient %}
            </td>
            <td data-title="{{ column_list.2 }}">
                {{ row.street_address }}
            </td>
            <td data-title="{{ column_list.3 }}">
                {{ row.mobile }}
            </td>
            <td data-title="{{ column_list.4 }}">
                (empty)
            </td>
            <td>
                (empty)
            </td>
        </tr>
    {% endfor row %}

    <!-- ========================================= ---->
    <!-- ======== end table rows for list ======== ---->
    <!-- ========================================= ---->

{% endblock list_table %}