{% extends 'list.html' %}
{% load i18n %}

{% block list_table %}

    <!-- ========================================= ---->
    <!-- ======= start table rows for list ======= ---->
    <!-- ========================================= ---->

    {% for row in object_list %}
        <tr>
            <td data-title="{{ row.get_listview_headers.0 }}">
                <a href="{% url 'visitors:client_detail' pk=row.id %}">
                    <strong>{{ row.full_name }}</strong>
                    <a href="{% url 'visitors:client_update' pk=row.id %}">update</a>
                </a>
                &nbsp;
            </td>
            <td data-title="{{ row.get_listview_headers.1 }}">
                {% for patient in row.patients.all %}
                    <div>
                        <a href="{% url 'visitors:patient_detail' pk=patient.id %}">
                            <span class="glyphicons glyphicons-md
                            glyphicons-{{ patient.css_species_class }}" aria-hidden="true">
                            </span>
                            {{ patient.name }}
                        </a>
                    </div>
                {% endfor patient %}
                &nbsp;
            </td>
            <td data-title="{{ row.get_listview_headers.2 }}">
                {{ row.street_address }}
                &nbsp;
            </td>
            <td data-title="{{ row.get_listview_headers.3 }}">
                {{ row.mobile }}
                &nbsp;
            </td>

        </tr>
    {% endfor row %}

    <!-- ========================================= ---->
    <!-- ======== end table rows for list ======== ---->
    <!-- ========================================= ---->

{% endblock list_table %}