{% extends 'list.html' %}
{% load i18n %}

{% block title %}

    <!-- header text with icon -->
    <span>
        <span class="glyphicons glyphicons-group" aria-hidden="true"></span>
        Clients
    </span>
    <!-- right-aligned header panel for button, form... -->
    <form action="{% url 'visitors:client_list' %}" method="GET" class="form-inline pull-right">
        <div class="form-group form-group-lg has-feedback">
            <label class="sr-only" for="search">Search</label>
            <input type="text" class="form-control" name="q" id="search" placeholder="Search">
            <span class="glyphicons glyphicons-group form-control-feedback" style="font-size:24px"></span>
        </div>
        <button type="submit" class="btn btn-lg btn-success">
            <span class="glyphicons glyphicons-search" aria-hidden="true"></span>Search
        </button>
    </form>

{% endblock title %}

{% block list_table %}

    <!-- ========================================= ---->
    <!-- ======= start table rows for list ======= ---->
    <!-- ========================================= ---->

    {% for row in clients %}
        <tr>
            <td data-title="{{ column_list.0 }}">
                {{ row.first_name }} {{ row.last_name }}
            </td>
            <td data-title="{{ column_list.1 }}">
                {% for patient in row.patients.all %}
                    <div>
                        <span class="glyphicons glyphicons-md
                        glyphicons-{{ patient.css_species_class }}" aria-hidden="true">
                        </span>
                        <strong>{{ patient.name }}</strong>
                    </div>
                {% endfor patient %}
            </td>
            <td data-title="{{ column_list.2 }}">
                {{ row.street_address }}
            </td>
            <td data-title="{{ column_list.3 }}">
                {{ row.mobile }}
            </td>
            <td data-title="{{ column_list.4 }}">
                (empty)
            </td>
            <td>
                (empty)
            </td>
        </tr>
    {% endfor row %}

    <!-- ========================================= ---->
    <!-- ======== end table rows for list ======== ---->
    <!-- ========================================= ---->

{% endblock list_table %}