{% extends 'index.html' %}
{% load i18n %}

{% block title %}

    <!-- header text with icon -->
    <span>
        <span class="glyphicons glyphicons-dog" aria-hidden="true"></span>
        <span class="glyphicons glyphicons-cat" aria-hidden="true"></span>
        <span class="glyphicons glyphicons-rabbit" aria-hidden="true"></span>
        Patients
    </span>
    <!-- right-aligned header panel for button, form... -->
    <form action="{% url 'visitors:patient_list' %}" method="GET" class="form-inline pull-right">
        <div class="form-group form-group-lg has-feedback">
            <label class="sr-only" for="search">Search</label>
            <input type="text" class="form-control" name="q" id="search" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-lg btn-success">
            <span class="glyphicons glyphicons-search" aria-hidden="true"></span>Search
        </button>
    </form>

{% endblock title %}


{% block content %}
    <!-- check search results > 0 -->
    {% if patients %}
        <div class="row">
            <!-- object count logic will go here -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>
                        <span class="glyphicons glyphicons-gender-intersex" aria-hidden="true"></span>
                        {% trans 'Name' %}
                    </th>
                    <th>{% trans 'Weight (kg)' %}</th>
                    <th></th>
                    <th>{% trans 'Breed' %}</th>
                    <th>{% trans 'Owner' %}</th>
                </tr>
                </thead>
                <tbody>

                <!-- loop over objects to create new rows -->
                {% for patient in patients %}
                    <!-- place icon for species -->

                    <tr>
                        <td>
                            {% if patient.css_species_class %}
                                <span class="glyphicons glyphicons-{{ patient.css_species_class }}" aria-hidden="true"
                                      style="font-size:24px"> </span>
                            {% endif %}
                        </td>
                        <td>
                            <span class="glyphicons glyphicons-{{ patient.css_gender_class }}" aria-hidden="true"></span>
                            <strong>{{ patient.name }}</strong>
                        </td>
                        <td>{{ patient.weight }}</td>
                        <td></td>
                        <td>{{ patient.breed }}</td>
                        <td>{{ patient.client }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    {% else %}
        <div class="page-header">
            <h2>No patients found</h2>
        </div>
    {% endif %}

    {# include 'snippets/pagination.html' #}

{% endblock content %}