{% extends 'list.html' %}
{% load i18n %}

{% block list_table %}

    <!-- ========================================= ---->
    <!-- ======= start table rows for list ======= ---->
    <!-- ========================================= ---->

    {% for row in patients %}
        <tr>
            <td data-title="{{ column_list.0 }}">
                {% if row.css_species_class %}
                    <span class="glyphicons glyphicons-lg glyphicons-{{ row.css_species_class }}" aria-hidden="true"></span>
                {% endif %}
            </td>
            <td data-title="{{ column_list.1 }}">
                <span class="glyphicons glyphicons-{{ row.css_gender_class }}" aria-hidden="true"></span>
                <strong>{{ row.name }}</strong>
            </td>
            <td data-title="{{ column_list.2 }}">
                {{ row.weight }}
            </td>
            <td data-title="{{ column_list.3 }}">
                {{ row.breed }}
            </td>
            <td data-title="{{ column_list.4 }}">
                {{ row.client }}
            </td>
            <td>
                (empty)
            </td>
        </tr>
    {% endfor row %}

    <!-- ========================================= ---->
    <!-- ======== end table rows for list ======== ---->
    <!-- ========================================= ---->

{% endblock list_table %}