{% extends 'list.html' %}
{% load i18n %}

{% block title %}

    <!-- header text with icon -->
    <span>
        <span class="glyphicons glyphicons-dog" aria-hidden="true"></span>
        <span class="glyphicons glyphicons-cat" aria-hidden="true"></span>
        <span class="glyphicons glyphicons-rabbit" aria-hidden="true"></span>
        Patients
    </span>
    <!-- right-aligned header panel for button, form... -->
    <form action="{% url 'visitors:patient_list' %}" method="GET" class="form-inline pull-right">
        <div class="form-group form-group-lg has-feedback">
            <label class="sr-only" for="search">Search</label>
            <input type="text" class="form-control" name="q" id="search" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-lg btn-success">
            <span class="glyphicons glyphicons-search" aria-hidden="true"></span>Search
        </button>
    </form>

{% endblock title %}

{% block list_table %}

    <!-- ========================================= ---->
    <!-- ======= start table rows for list ======= ---->
    <!-- ========================================= ---->

    {% for row in patients %}
        <tr>
            <td data-title="{{ column_list.0 }}">
                {% if row.css_species_class %}
                    <span class="glyphicons glyphicons-{{ row.css_species_class }}" aria-hidden="true"
                          style="font-size:24px"> </span>
                {% endif %}
            </td>
            <td data-title="{{ column_list.1 }}">
                <span class="glyphicons glyphicons-{{ row.css_gender_class }}" aria-hidden="true"></span>
                <strong>{{ row.name }}</strong>
            </td>
            <td data-title="{{ column_list.2 }}">
                {{ row.weight }}
            </td>
            <td data-title="{{ column_list.3 }}">
                {{ row.breed }}
            </td>
            <td data-title="{{ column_list.4 }}">
                {{ row.client }}
            </td>
            <td>
                (empty)
            </td>
        </tr>
    {% endfor row %}

    <!-- ========================================= ---->
    <!-- ======== end table rows for list ======== ---->
    <!-- ========================================= ---->

{% endblock list_table %}