{% extends 'base.html' %}

{% block title %}Today's appointmentsxx{% endblock title %}

{% block content %}


  <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Owner</th>
                <th>Animal</th>
                <th>Time</th>
                <th>Reason</th>
                <th>Status</th>
                <th>Status txt</th>
            </tr>
            </thead>
            <tbody>

            {% for appointment in object_list %}
                <tr>
                    <td>
                        {{ appointment.client }}
                    </td>
                    <td>
                        {% for patient in appointment.patients.all %}
                            {{ patient.name }}
                        {% endfor appointment %}
                    </td>
                    <td>
                        {{ appointment.start }}
                    </td>
                    <td>
                        {{ appointment.reason }}
                    </td>
                    <td>
                        <button type="button" class="btn btn btn-{{ appointment.css }}">
                            {{ appointment.status }}
                        </button>
                    </td>
                    <td><span class="glyphicon glyphicon-search" aria-hidden="true"></span></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>

{% endblock %}