{% extends 'list.html' %}
{% load i18n %}

{% block list_table %}

    <!-- ========================================= ---->
    <!-- ======= start table rows for list ======= ---->
    <!-- ========================================= ---->

    {% for row in object_list %}
        <tr>
            <td data-title="{{ row.get_listview_headers.0 }}">
                {% for patient in row.patients.all %}
                    <div>
                        <span class="glyphicons glyphicons-md
                        glyphicons-{{ patient.css_species_class }}" aria-hidden="true">
                        </span>
                        <strong>{{ patient.name }}</strong>
                    </div>
                {% endfor patient %}
                &nbsp;
            </td>
            <td data-title="{{ row.get_listview_headers.1 }}">
                <!-- dynamically populate cells based on context list -->
                {#% load settings_value %#}{#{ row|settings_value:ttt }#}
                {{ row.client }}
                &nbsp;
            </td>
            <td data-title="{{ row.get_listview_headers.2 }}">
                {{ row.start }}
                &nbsp;
            </td>
            <td data-title="{{ row.get_listview_headers.3 }}">
                {{ row.attending_staff }}
                &nbsp;
            </td>
            <td data-title="{{ row.get_listview_headers.4 }}">
                {{ row.reason }}
                <a href="{% url 'appointments:detail' pk=row.pk %}">
                    view
                </a>

                <a href="{% url 'appointments:update' pk=row.pk %}">
                    edit
                </a>&nbsp;
            </td>
            <td>
                <div class="btn-group">
                    <button type="submit" name="{{ row.css_status_class }}"
                            class="btn btn btn-{{ row.css_status_class }} text-capitalize"
                            data-toggle="tooltip" data-container="body" data-placement="left"
                            title="Click to set to '{{ row.css_next_step_class|title }}'">
                        {{ row.status }}
                    </button>
                    <!-- display dropdown if there is a call to action -->
                </div>
                &nbsp;
            </td>
        </tr>
    {% endfor row %}

    <!-- ========================================= ---->
    <!-- ======== end table rows for list ======== ---->
    <!-- ========================================= ---->

{% endblock list_table %}