<form action="" method="GET" class="search-form">
    <div class="form-group form-group-lg has-feedback">
        <label class="sr-only" for="search">Search</label>
        <div class="col-xs-8 search-panel">

            <input type="text" class="form-control" name="q" id="search"
                   placeholder="Search">
            <span class="glyphicons glyphicons-lg blue glyphicons-group form-control-feedback"></span>

        </div>

        <div class="col-xs-4 search-button">
            <button type="submit" class="btn btn-lg btn-success">
                <span class="glyphicons glyphicons-lg glyphicons-search" aria-hidden="true"></span>
                <span class="hidden-sm hidden-xs"> Search</span></button>
        </div>
    </div>
</form>