{% extends 'index.html' %}
{% load model_field %}
{% load i18n %}

{% block content %}

    {% for header in object.get_listview_headers %}
        {{ header }}<br/>
    {% endfor %}

    <hr/>

    <p> {{ object.VERBOSE_CLIENT }} : {{ object.client }}</p>

    <p> {{ object.VERBOSE_PATIENTS }} :</p>
    {% for patient in object.patients.all %}
       - {{ patient.name }} / {{ patient.gender }} / {{ patient.breed }} <br/>
    {% endfor %}

    <p> {{ object.VERBOSE_START }} : {{ object.start }}</p>
    <p> {{ object.VERBOSE_FINISH }} : {{ object.finish }}</p>


        <p> obs :</p>
    {% for observation in object.observation_set.all %}
        {{ observation }} <br/>
    {% endfor %}


    <p> {{ object.VERBOSE_ATTENDING_STAFF }} : {{ object.attending_staff }}</p>
    <p> {{ object.VERBOSE_CREATED_BY }} : {{ object.created_by }}</p>
    <p> {{ object.VERBOSE_MODIFIED_BY }} : {{ object.modified_by }}</p>


{% endblock content %}