{% extends 'list.html' %}
{% load i18n %}

{% block list_table %}

    <!-- ========================================= ---->
    <!-- ======= start table rows for list ======= ---->
    <!-- ========================================= ---->

    {% for row in object_list %}
        <tr>
            <td data-title="{{ row.get_listview_headers.0 }}">
                {% for patient in row.patients.all %}
                    <div>
                        <span class="glyphicons glyphicons-md
                        glyphicons-{{ patient.css_species_class }}" aria-hidden="true">
                        </span>
                        <strong>{{ patient.name }}</strong>
                    </div>
                {% endfor patient %}
            &nbsp;
            </td>
            <td data-title="{{ row.get_listview_headers.1 }}">
                {{ row.client }}
                &nbsp;
            </td>
            <td data-title="{{ row.get_listview_headers.2 }}">
                {% for observation in row.observation_set.all %}
                    {{ observation }}
                {% endfor observation %}
            &nbsp;
            </td>
            <td data-title="{{ row.get_listview_headers.3 }}">
                {{ row.start }}
                <a href="{% url 'consultations:detail' pk=row.pk %}">
                view
                </a>
                <a href="{% url 'consultations:update' pk=row.pk %}">
                edit
                </a>
                &nbsp;
            </td>
            <td data-title="{{ row.get_listview_headers.4 }}">
                {{ row.attending_staff }}
                &nbsp;
            </td>
        </tr>
    {% endfor row %}

    <!-- ========================================= ---->
    <!-- ======== end table rows for list ======== ---->
    <!-- ========================================= ---->

{% endblock list_table %}