{% extends 'create.html' %}
{% load i18n %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        {{ form.as_p }}
        <p>====== parent form above (form.as_p) ======</p>
        <p>====== inline forms below (for formset in inlines) ======</p>
        {% for formset in inlines %}
            <div id="{{ formset.prefix }}">
                {% for subform in formset.forms %}
                    <table>
                        {{ subform.as_table }}
                    </table>
                {% endfor %}
                {{ formset.management_form }}
            </div>
        {% endfor %}
        <input type="submit" value="{{ decorator_text }}" class="submit"/>
    </form>

{% endblock %}