    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <!-- Icons CSS -->
    <link href="{% static 'bootstrap/dist/css/glyphicons.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/dist/css/glyphicons-bootstrap.css' %}" rel="stylesheet">
    <!-- Mini calendar CSS -->
    <link href="{% static 'bootstrap/bootstrap2-datetimepicker/css/bootstrap-datetimepicker.min.css' %}"
          rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'bootstrap/dist/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    <!-- fullscreen background image -->
    <link href="{% static 'css/full.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="{% static 'jquery/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/transition.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/collapse.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap2-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/chainedm2m.js' %}"></script>
    <script src="{% static 'js/chainedfk.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'bootstrap/dist/js/ie10-viewport-bug-workaround.js' %}"></script>