<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}
    <link rel="icon" href="{% static 'css/favicon.css' %}">

    {% block title %}
    <title>Axis.vet - practice management made simple</title>
    {% endblock title %}

    <!-- ============ css and js files  ==============-->
    {% block css_js %}
        {% include 'css_js.html' %}
    {% endblock css_js %}
    <!-- =========== end css and js files  ============-->

</head>

<body>




<!-- ================ navigation  =================-->
{% block navigation %}
    {% include 'navigation.html' %}
{% endblock navigation %}
<!-- ================ navigation  =================-->





<!-- ========================================-->
<!-- ============== main div ================-->
<!-- ========================================-->

<div class="container main-content img-rounded" role="main">



    <!-- ========= start alerts panel ===========-->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <span class="glyphicons glyphicons-ok glyphicons-lg" aria-hidden="true"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <!-- =========== end alerts panel ===========-->



    <!-- ============ start headline =============-->

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">

            <h2>
            {% block headline_icon %}{% endblock headline_icon %}
                {{ decorator_text }}
            </h2>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 search-box">
            {% block headline_widget %}{% endblock headline_widget %}
        </div>

    </div>

    <!-- ============ end headline ==============-->






    <!-- ============ main content  ==============-->
    {% block content %}
        <p>block content in index.html</p>
    {% endblock content %}
    <!-- ========== end  main content  ===========-->






    <!-- ========================================-->
    <!-- =========== end  main div ==============-->
    <!-- ========================================-->
</div>


<!-- mini calendar for date/time entry fields -->
<script type="text/javascript">

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        autoclose: true,
        todayBtn: true,
        startDate: new Date(),
        minuteStep: 10
    });
</script>

</body>
</html>
